
/* Replace <uniquifier> with a unique and descriptive class name */
.lexend-deca-custom {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

.attribution{
    position: fixed;
    width: 100%;
    bottom:0;
    padding-left: 35px;
    transition: transform 0.5s ease-in-out; 
}

.attribution a { color: hsl(228, 45%, 44%); }

/* h1{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 35px;
} */

h1 {
    position:fixed;
    left: 0;
    top: 0; 
    padding-left: 5%;
    color: #050505; font-family: 'Lato', sans-serif; font-size: 4vw; font-weight: 300; line-height: 58px;
}

body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cards{
    border: 2px solid hsl(255, 255, 255);
    /* height: 400px; */
    width: 800px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.cardItem{
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cardItem h2{
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", sans-serif;
}

.cardItem p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    flex-grow: 1;
}

.first{
    color:#d4873a;
}

.second{
    color:#008080;
}

.third{
    color:#005555;
}

.cardItem button{
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    outline: none;
    border-radius: 25px;
    transition: 0.3s;
}

.cardItem button:hover{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

/* Responsive Layout for the coloumns */
@media screen and (max-width: 550px){

    h1{
        position:absolute;
        padding-left: 50px;
        text-align:center;
    }
    body{
        background-color: bisque;
        padding: 50px 20px;
    }
    .cards{
        flex-direction: column;
    }

    .attribution {
        position:fixed;
      }
    
      .cardItem {
        padding: 20px;
      }



}